---
import Image from '@/components/Image.astro';

export type Props = {
  image: string;
  name: string;
  href: string;
  aspectRatio?: number;
  objectFit?: 'contain' | 'cover';
};

const { image, name, href, aspectRatio, objectFit } = Astro.props;
---

<a href={href}>
  <Image imagePath={image} alt={name} aspectRatio={aspectRatio} objectFit={objectFit} />
  <h2>{name}</h2>
</a>

<style lang="scss">
  h2 {
    width: fit-content;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      transition: transform 0.3s ease;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0.125rem;
      background: var(--color-focus);
      transform: scaleX(0);
    }
  }

  a:hover h2::before {
    transform: scaleX(1);
  }
</style>
